.inline-block {
    display:inline-block;
    vertical-align: top;
}

.heroimg {
    display: flex;
}

.profile {
    width: 40%;
    height: auto;
}
.profile img {
    width: 100%;
    border-radius: 50%;
}

p.nav {
    width: 73%;
    padding: 1%;
}

